{{#if showMessages}}
  <li>
    {{message.message}}
    <button {{action 'messageHide'}}>Hide</button>
    <button {{action 'delete' message}}>Delete Message</button>
  </li>
{{else}}
  <button {{action 'messageShow'}}>Show messages</button>
{{/if}}
